button{
    box-sizing: border-box;
    outline: none;
    padding: 20px 30px;
}
p{
    padding: 30px;
    color: blueviolet;
}
.colo2{
    padding: 30px;
    color: aqua;
}

.colo3{
    color: red;
    font-size: 20px;
    margin: 20px;
    border: 2px solid;
}